.button {
  padding: 10px;
  font-size: 1.5rem;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.button:hover {
  background-color: #ddd;
}

.button:focus {
  outline: none;
}

.button:active {
  transform: scale(0.95);
}

.button2 {
  padding: 10px;
  font-size: 1.2rem;
  background-color: #1f2937;
  border: 1px solid #1f2937;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.button2:hover {
  background-color: #374151;
}

.button2:focus {
  outline: none;
}

.button2:active {
  transform: scale(0.95);
}

@media (max-width: 640px) {
  .button,
  .button2 {
    font-size: .7rem;
  }
}

